* {
    margin: 3px;
    border: 1px;
    padding: 0;
    box-sizing: border-box;
}
/*Header and home section*/
.home {
    box-sizing: border-box;
}
.home .header {
    box-sizing: border-box;
    width: -5in;
    position: relative;
    right: 90;
    bottom: -70;
    display: flex;
    justify-content: flex-end;
}

.home .header nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Adamina', serif;
}

.home .header nav div {
    padding-right: 0.7in;
}
.home .header nav div a {
    text-decoration: none;
    color: #fff;
}
.home .header nav div a:hover {
    color: #faff00;
    font-size: larger;
    font-weight: 700;
}
.f-btn button {
    /*the first log in button*/
    color: black;
    background: #faff00;
    padding: 3px;
    border: 1px solid #faff00;
}
.s-btn button{
    /* the second log in button*/
    color: #faff00;
    background: black;
    padding: 3px;
    border: 1px solid #faff00;
}
.home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}
.home .content {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
    left: 100;
    top: -450;
}

.home .content .h1{
    color: #faff00;
    font-family: 'Adamina', serif;
    font-size: xx-large;
    font-weight: 100;
}
.home .content .p {
    color: #fff;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
}
/*head and home section ends*/

/*Marketing section*/
.marketing {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 10px;
    padding: 10px;
    margin: 10px;
}
table {
    width: 100%;
    height: 50%;
}
.marketing .m-img {
    overflow: hidden;
}
.marketing .m-img img {
    width: 100%;
    object-fit: cover;
}

.marketing .m-content {
   padding: 5px;
   margin: 5px;
}
.marketing .mbtn a {
    text-decoration: none;
}
.marketing .m-btn {
    color: #faff00;
    background: black;
    border: 3px solid black;
    padding: 5px;
    border-top-right-radius: .5rem;
}

.marketing .m-content hr {
    background: rgba(164,115,53,0.9);
    height: 5px;
    border: 0;
    width: 20%;
}
.marketing .m-btn:hover {
    color: #fff;
    font-size: larger;
}

#view {
    width: 50%;
    height: 80%;
}
#vi {
    padding: 5px;
    margin: 5px;
    border: 3px;
}


/*end of marketing sectionte*/
/*partners section */
.partners {
    background: rgb(245,245,245);
    width: 100%;
}
.p-images{
    display: flex;
    direction: row; 
    justify-content:space-between;
    align-items: center;
  
}
/* test */
/* .test {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px;
    background-color: #2196F3;
    padding: 2px;
}
a {
    grid-column-start: 1;
    grid-column-end: 3;
}

 */

/* test */
.moversicon{
    box-sizing: border-box;
    width: 100px;
    display: flex;
    direction: row; 
    justify-content: space-evenly;
}
.image img{
    width: 80%;
    height:80%;
}


/* partners section end*/
/* Footer section */
.footer {
    color: white;
    background-image: linear-gradient(to right top, #000000, #030202, #20100b, #351e0b, #644203);
    padding: 70px;
    border: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.ft {
    padding: 40px;
    border: 5px;
    margin: 5px;
    font-family: 'Actor', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ft .fbtn button{
    text-align: center;
    font-weight: 700;
    padding: 7px;
    border: 3px solid #faff00;
    border-top-right-radius: .5rem;
    background: #faff00;
    color: #000000;
}
.ft .fbtn button i{
    color: #fff;
}
#color {
    color: rgb(236,158,77);
}
hr {
    background: #fff;
    height: 0.3px;
    border: 0;
    
}
.spacer {
    display: flex;
    justify-content: space-between;
}
.f-icons a{
    color: #fff;
    gap
}
.f-icons {
    padding: 70px;
}
.f-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.f-links {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.f-links-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.f-links-1 a{
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}
.f-links-1 h3{
    font-weight: 300;
}





/*Footer section ends*/
/* page 2 */
/* header */
.headnav {
    background: black;
}
.headnav nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    font-family: 'Adamina', serif;
}
.headnav nav a {
    text-decoration: none;
    color: #fff;
    padding-right: 0.7in;
}
.headnav nav a:hover {
    color: #faff00;
    font-size: larger;
    font-weight: 700;
}
.headnav button {
    color: black;
    background:  #FFAC12;
    padding: 5px;
    border: 5px solid #FFAC12;
    border-top-right-radius: .5rem;
}
.headnav button i {
    color: #fff;
}
.below {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

/* heaeder ends */
.background {
    background: lightgrey;
}
/* homme section */
.homme {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    /* padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px; */
    /* margin-right: 20px;
    margin-left: 20px; */
}

/* .homme img {
    width: 50%;
    flex: 1 1 40rem;
} */
.homme .profile-section {
    background-color: lightgrey;
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: .7rem;
    width: 100%;
}
.homme .profile-section img {
    border-radius: 50%;
}
.homme .profile-section .username a{
    text-decoration: none;
    color: #FFAC12;
}
.homme .picture {

    margin-top: 1rem;
    
   
   
    margin-right: 10%;
    margin-left: 10%; 
}
form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top-left-radius: 0.9rem;  
    border-top-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem; 
    border: 1px solid white;
    margin-right: 20%;
    margin-left: 40%;
    width: 630px;
    height: 600px;
    /* height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background: #fff; */
}
form input {
    border: 1px solid lightgrey;
    border-radius: .3rem;
}
form input .textarea {
    height: 100px;
}


/* homme section ends */
/* row images */
.rowing {
    margin-top: 2rem;
    border-top-left-radius: 0.9rem;  
    border-top-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem; 
    margin-right: 40%;
    margin-left: 10%; 
    display: flex;
    flex-direction: row;
}
.rowing img {
    height: 80px;
    width: 90px;
}
.prop {
    margin-top: 2rem;
    background-color: #fff;
    border-top-left-radius: 0.9rem;  
    border-top-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem; 
    border: 1px solid white;
    margin-right: 40%;
    margin-left: 10%; 
}
.prop h3 {
    font-family: 'Adamina', serif;
    font-weight: 500;
    padding: 20px;
}
.propI {
    display: flex;
    justify-content: space-around;
    background: white;
}
.prop .propI .minipics {
    width: 100%;
    height: 20%;
    background: #fff;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prop .hor {
    border: 2px;
    height: 1px;
    color: gray;
}
/* row images ends */
/* description section */

.Description {
    margin-top: 2rem;
    border: 2px solid #f5f5f5;
    background-color: #fff;
    border-top-left-radius: 0.9rem;  
    border-top-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    margin-right: 40%;
    margin-left: 10%; 
}
.Description .hor {
    border: 2px;
    height: 1px;
    color: gray;
}
.Description h3 {
    font-family: 'Adamina', serif;
    font-weight: 500;
    padding: 20px;
}
.Lorem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    padding: 20px;
}


/* description ends */
/* features section */
.features {
    margin-top: 2rem;
    border: 2px solid #f5f5f5;
    background-color: #fff;
    border-top-left-radius: 0.9rem;  
    border-top-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    margin-right: 40%;
    margin-left: 10%; 
}
.features .hor {
    border: 2px;
    height: 1px;
    color: gray;
}
.features h3 {
    font-family: 'Adamina', serif;
    font-weight: 700;
    padding: 20px;
}
.feat {
    display: flex;
    justify-content: space-between;
}
.feat div p i {
    color: #FFAC12;
}
/* .features table {
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border: 1px;
} */
/* faetures section */
/* similar listing */
.house {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.house .malto-house img {
    width: 70%;
    height: 70%;
}

/* similar listing */
/* details */
.details {
    float: left;
    display: flex;
    flex-direction: column;
}


/* details end */











/* features section */
